/*Global Styles*/

html,body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}


#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* hide character and pet description */
.desc {
    display: none;
}

.radio_hidden {
    position: absolute;
    left: -9999px;
}

.opt_selected {
    background-color: #444;
}

.options {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.options li {
    display: block;
    cursor: pointer;
    font-size: 0;

}

.options img {
    margin: 5px;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px rgb(0,0,0);
}

#div_main {
    width: 640px;
    height: 480px;
    margin: 50px auto;
    background-image: url('../images/menu_bg.jpg');
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px 0px 100px 5px rgba(100, 65, 10, 0.6);
    box-shadow: inset 0px 0px 100px 5px rgba(100, 65, 10, 0.6);
    opacity: 1;
    outline: 2px solid #0f0e0f;
}

#user_dp {
    width: 405px;
    position: absolute;
    top: 55px;
    left: -1px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#user_pet {
    position: absolute;
    left: 241px;
    top: 317px;
    width: 143px;
}

#btn_rank {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 65px;
    left: 481px;
}

#btn_log {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 481px;
}

#btn_arena {
    width: 150px;
    height: 60px;
    position: absolute;
    top: 380px;
    left: 440px;
}

.div_child {
    position: relative;
}

.tbl {
    background-color: rgb(77, 57, 25);
    opacity: 0.5;
    width: 80%;
    height: 395px;
    position: absolute;
    top: 55px;
    left: 65px;
    -webkit-border-radius: 40px 10px 10px 10px;
    border-radius: 40px 10px 10px 10px;
}

.tbl_text {
    color: #ffffff;
    font-weight:bold;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 2px 4px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);
    -webkit-text-stroke: 0.5px black;
}

.tbl_position {
    position: absolute;
    top: 60px;
    left: 65px;
}

.enemy_image {
    width: 60px;
    height: 60px;
}

.user_stat {
    color: #ffffff;
    font-weight:bold;
    font-size: 24px;
    text-shadow: 1px 2px 4px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);
    -webkit-text-stroke: 0.5px black;
}

.status {
    position: absolute;
    top: 40px;
    left: 260px;
}

.td_elem {
    text-align: center;
}

.frame {
    width: 640px;
    height: 520px;
    margin: 50px auto;
    text-align: center;
    border: 0px;
}

.back_to_main {
    position: absolute;
    top: 68px;
    left: 350px;
}

.container2 {
    width: 640px;
    height: 480px;
    background-image: url('../images/menu_bg.jpg');
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px 0px 100px 5px rgba(100, 65, 10, 0.6);
    box-shadow: inset 0px 0px 100px 5px rgba(100, 65, 10, 0.6);
    opacity: 1;
    outline: 2px solid #0f0e0f;
}

.log_txt {
    position: absolute;
    left: 460px;
}

.rank_txt {
    position: absolute;
    top: 5px;
    left: 398px;
}

.ul_nav {
    position: absolute;
    top: 60px;
    left: 50px;
}

.tab_position {
    position: absolute;
    top: 55px;
}

.logout {
    position: absolute;
    top: 270px;
    left: 544px;
}

.music_toggle {
    position: absolute;
    top: 270px;
    left: 500px;
}

/*==================================
*   sign-up
*=================================*/

.main_container {
    width: 640px;
    height: 480px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border: 1px solid #444;
    background: #dbc59e url('http://localhost/scene01.jpg');
}

.inner_div {
    margin: 20px 50px;
    color: #FFF;
    text-shadow: 0 0 10px rgb(0,0,0);
}

.inner_div h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


.input_div {
    margin: 5px;
}

.input_div label {
    display: inline-block;
    min-width: 180px;
    float: left;
    font-weight: bold;
    padding: 5px;
}

.tbox, .btn {
    padding: 5px;
}


#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;
}
.titleholder div, .toptitleholder div{
    display: inline;
}
.titleholder{
    margin: 0px 75px;
    background-color: #ffffca;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.toptitleholder{
    margin: 0px 50px;
    background-color: #fffa86;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.titleholder img{
    height: 90px;
    -webkit-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
}
.titleholder .rankname{
    font-size: 150%;
}
.toptitleholder img{
    height: 125px;
}
.toptitleholder .rankname{
    font-size: 200%;
}
.ranknumber{
    background-repeat: no-repeat;
    float: right;
    font-weight: bolder;
    font-size: 250% ;
    text-align: center;
    vertical-align: middle;

}
.toptitleholder .ranknumber{
    margin-top: 20px;
    background-image: url('../images/toptitlebelt.png');
    padding-top: 30px;
    height: 100px;
    width: 160px;
}
.titleholder .ranknumber{
    background-image: url('../images/titlebelt.png');
    padding-top: 25px;
    height: 75px;
    width: 135px;
}
.ranklevel{
    float:right;
}
.msgcontainer{
    visibility: hidden;
}
