/* hide character and pet description */
.desc {
    display: none;
}

.radio_hidden {
    position: absolute;
    left: -9999px;
}

.opt_selected {
    background-color: #444;
}

.options {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.options li {
    display: block;
    cursor: pointer;
    font-size: 0;

}

.options img {
    margin: 5px;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px rgb(0,0,0);
}

#div_main {
    width: 640px;
    height: 480px;
    background-image: url('../images/menu_bg.jpg');
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px 0px 120px 60px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 0px 120px 60px rgba(0, 0, 0, 0.6);
    opacity: 1;
    outline: 2px solid #0f0e0f;
}

#user_dp {
    width: 455px;
    position: absolute;
    top: 0px;
    left: -99px;
}

#user_pet {
    position: absolute;
    left: 241px;
    top: 317px;
    width: 143px;
}

.div_child {
    position: relative;
}

.user_stat {
    color: #ffffff;
    font-weight:bold;
    font-size: 22px;
    text-shadow: 1px 2px 4px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);
}

.status {
    position: absolute;
    top: 100px;
    left: 300px;
}

.td_elem {
    text-align: center;
}




/*==================================
*   sign-up
*=================================*/

.main_container {
    width: 640px;
    height: 480px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border: 1px solid #444;
    background: #dbc59e url('http://localhost/scene01.jpg');
}

.inner_div {
    margin: 20px 50px;
    color: #FFF;
    text-shadow: 0 0 10px rgb(0,0,0);
}

.inner_div h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


.input_div {
    margin: 5px;
}

.input_div label {
    display: inline-block;
    min-width: 180px;
    float: left;
    font-weight: bold;
    padding: 5px;
}

.tbox, .btn {
    padding: 5px;
}
